{% extends 'base.html.twig' %}
{% block title %}{{ personaName }} profile{% endblock %}
{% block body %}
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header"><p class="card-header-title">{{ personaName }}</p></header>
                <div class="card-content">
                    Steam ID: {{ steamId }}<br/>
                    Real name: {{ realName }}<br/>
                    Country code: {{ countryCode }}
                </div>
            </div>
        </div>
    </div>
    <table class="table is-striped">
        <thead><tr><th>Logo</th><th>Name</th><th>Played</th><th>Progression</th></tr></thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>
                    {% if game.logo %}
                        <figure class="image">
                            <img alt="{{ game.name }} logo"
                                 src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.id }}/{{ game.logo }}.jpg"/>
                        </figure>
                    {% else %}
                        No logo
                    {% endif %}
                </td>
                <td>{{ game.name }}</td>
                <td>{{ (game.played/60)|round }} hours</td>
                <td><a href="{{ path('app_steam_achievements', {'steamId': steamId, 'appId': game.id}) }}">Link</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot><tr><th>Logo</th><th>Name</th><th>Played</th><th>Progression</th></tr></tfoot>
    </table>
{% endblock %}
